.price-food{
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    font-family: 'Dancing Script', cursive;
    border-bottom: 1rem double black;
    font-size: 1.2rem;
}
.image-foods{
    display: flex;
}
.price-food p{
   margin-top: 0.5rem;
   color: gold;
}
.description-food{
    display: flex;
    flex-direction: column;
    font-family: 'Dancing Script', cursive;
    font-size: 1.2rem;
}
.col-6 img{
    border: 0.2rem solid gold;
    margin-bottom: 2rem;
}