.container-navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 3rem;
}
.container-navbar button{
    margin-right: 2rem;
    color:gold;
    font-size: 2rem;
    border: none;
    background-color: white;
    font-family: 'Dancing Script', cursive;
}
.container-navbar button:hover{
    background-color: brown;
}
.container-navbar button:hover{
    color: white;
}